.title {
  text-align: left;
  margin-left: 1.7%;
  font-size: 40px;
  font-size: 2.5rem;
}

.center-body {
  margin: 1% 1% 0% 1%;
  /* box-sizing: border-box; */
}

@media(max-width:767px) {
  .title {
    text-align: center;
  }
}